---
layout: default
---

<noscript>
	<style>

		article .footnotes {
			display: block;
		}

	</style>
</noscript>

<aside class="logo">
  
  	<a href="">
		 <img src="{{site.baseurl}}/assets/images/{{ page.avatar_img | default: 'avatar_default' }}.png" class="gravatar">
	</a>
	<span class="logo-prompt">{{ page.avatar_desc | default: page.title }}</span>

</aside>


<article>

	<div class="center">
		<h1>{{ page.title }}</h1>
		<time>{{ page.date | date: '%B %-d, %Y' }}</time>


		<div>
		  {% for tag in page.tags  %}
		  <a href="#" class="tag">{{tag}}</a>
		  {% endfor %}
		</div>

	</div>
	
	<div class="divider"></div>

	{{ content }}

</article>

<div class="back">
  <a href="{{site.baseurl}}/">
	<!--img src="{{site.baseurl}}/assets/triangle-grey.png"-->
  </a>
</div>
